
.mainApp, .topbar, .leftTopbar, .rightTopbar{
    background-color: rgb(213, 226, 241);
}

.homepage{
    background-color: rgb(219, 235, 255);
}

.topbar, .newCV,.cvMenu, .login, .styleTitle, button{
    background-color: #2670d1;
}

.topbar,.login, .styleTitle, button{
    color: #eaf6ff;
}

button.selected{
    background-color: #5d96e0;
}

button:hover{
    background-color: #5d96e0;
}

button:active{
    background-color: #2670d1;
}



