.login{
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    box-shadow: inset 1px 1px 4px -1px rgba(0,0,0,1);
}


.error{
    color: rgb(221, 47, 47);
    border: 1px;
    border-style: solid;
    border-color: brown;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

.login table{
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.loginLabel{
    width: 30%;
}

.login button{
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 20px;
    padding: 5px 10px;
    /* margin: 0px 5px; */
    user-select: none;
    border-radius: 10px 10px 10px 10px;
    border-width: 2px 2px 2px 2px;
}

.topbar button:active {
    box-shadow: inset 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

.login input{
    font-family: inherit;
    color: inherit;
    align-items: center;
    justify-content: center;
}