.login{
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    box-shadow: inset 1px 1px 4px -1px rgba(0,0,0,1);
}


.error{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    margin: 0px auto;
    padding: 4px 4px;
    background-color: #1451a0;
}

.login table{
    align-items: center;
    justify-content: center;
}

.loginLabel{
    width: 30%;
}

.login button{
    border: none;
    height: 100%;
    cursor: default;
    font-size: 20px;
    padding: 2px 20px;
    margin: 4px 0px;
    user-select: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,1), inset 1px 1px 2px 0px rgb(255, 255, 255);
    border-radius: 5px;
}

.login button:active {
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    background-color: #1451a0;
}

.login input{
    /* text-align: center; */
    vertical-align: middle;
}