.navMenu{
    display: flex;
    flex-direction: column;
    margin: 30% 10% 0% 30%;
}

.navMenu button{
    font-size: 28px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.85), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75);
    
}

.navMenu button.selected{
    box-shadow: inset 4px 4px 4px 0px rgb(0, 0, 0), inset -1px -1px 1px 0px rgba(255, 255, 255, 0.75);
}

.navMenu button:active {
    /* box-shadow: inset 5px 0px 4px 0px rgba(0, 0, 0, 0.75); */
    box-shadow: inset 6px 6px 6px 0px rgb(0, 0, 0), inset -1px -1px 1px 0px rgba(255, 255, 255, 0.75);
}
