
.options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newCV{
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;
    top: 100%;
    border-radius: 0px 0px 10px 10px;
    /* right: 0%; */
    box-shadow: inset -1px -1px 2px 0px rgb(0, 0, 0, 0.75), inset 1px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

.options span img{
    margin-right: 10px;
    margin-left: 10px;
    height: 75%;
}

.cvMenu {
    position: absolute;
    top: 100%;
    border-radius: 0px 0px 10px 10px;
    width: 25%;
    box-shadow: inset -1px -1px 2px 0px rgb(0, 0, 0, 0.75), inset 1px 0px 2px 0px rgba(255, 255, 255, 0.75);
    padding: 5px;
    overflow: auto;
    margin: 0px;
    text-align: center;
}

.cvMenu button {
    /* background-color: rgb(15, 15, 15); */
    /* display: block; */
    /* border: 1px solid rgb(0, 0, 0); */
    width: 100%;
    /* height: 26px; */
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
    padding: 10px 7px;
}

.cvMenu button:focus {
    outline:none !important;
}

.delete Button{
    background-color: rgb(8, 2, 1);
    border: none;
    width: 13%;
    color: rgb(255, 82, 59);
}