.topbar {
    position: relative;
    height: 5%;
    display: flex;
    /* justify-content: center; */
    box-shadow: inset 0px -4px 4px -4px rgba(0,0,0,1);
    padding: 3px 0px;

}

.topbar .side{
    width: 27%;
    padding: 0px;
}


.middleTopbar{
    /* box-shadow: inset 3px -3px 2px -2px rgba(0,0,0,1), inset -3px 0px 2px -2px rgb(0, 0, 0); */
}

.rightTopbar{
    margin-top: auto;
    margin-bottom: auto;
    flex-flow: row-reverse;
    padding-right: 5%;
    /* box-shadow: inset 0px -3px 2px -2px rgba(0,0,0,1), inset 3px 0px 2px -2px rgb(0, 0, 0); */
}

.middle .topbar{
    display: flex;
    justify-content: center;
    align-content: center;
}

.topbar h1{
    font-size: calc(100% + 0.9vw);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    white-space: pre;
}

.topbar button{
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0px 5px;
    user-select: none;
    border-radius: 10px 10px 10px 10px;
    border-width: 2px 2px 2px 2px;
}

.topbar button.selected{
    box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}

.topbar button.unselected:hover {
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75);
}

.topbar button.unselected{
    /* box-shadow: inset 2px 0px 2px 0px rgb(255, 255, 255, 0.4), inset -2px 0px 2px 0px rgb(0, 0, 0, 0.75); */
}

.topbar button.selected:hover {
    /* box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.75); */
}

.topbar button:active {
    box-shadow: inset 5px 5px 4px 0px rgba(0, 0, 0, 0.75);
}

.topbar button:focus {
    outline:none !important;
}