html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.mainApp{
    height: 100%;
}

.mainApp table{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.centerText{
    margin-top: auto;
    margin-bottom: auto;
}

h2{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.homepage{
    font-size: 28px;
    text-align: center;
}

.homepage ul{
    margin-top: 20%;
}

.middle{
    width: 46%;
    height: 100vh;
    padding: 0px;
    margin-bottom: 0px;
}

.side{
    width: 27%;
    height: 100vh;
    padding: 0px;
}
