html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.mainApp{
    height: 100%;
    background-color:  #A8BDD2;
}

h1{
     font-size: 64px;
     margin-top: 0px;
     margin-bottom: 10px;
     text-align: center;
}

h2{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.error{
    color: rgb(221, 47, 47);
    border: 1px;
    border-style: solid;
    border-color: brown;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

.sideContent{
    margin: 5%;
    margin-left: 10%;
}

.side{
    /* background-color: #BAD2E9;  */
    height: 100%;
    position: fixed;
    top: 5vh;
    z-index: 3;
    width: 27%;
}

.side.right {
    left: 73%;
    /* -webkit-box-shadow: inset 14px 0px 32px -10px rgba(0,0,0,1); */
    /* -moz-box-shadow: inset 14px 0px 32px -10px rgba(0,0,0,1); */
    box-shadow: inset 5px 0px 14px -5px rgba(0,0,0,1);
}

.side.left {
    left: 0;
    /* -webkit-box-shadow: inset -14px 0px 16px -10px rgba(0,0,0,1); */
    /* -moz-box-shadow: inset -14px 0px 16px -10px rgba(0,0,0,1); */
    box-shadow: inset -5px 0px 14px -5px rgba(0,0,0,1);

}

.center{
    position: fixed;
    top: 5vh;
    left: 27%;
    width: 46%;
    height: 95vh;
    overflow-y:auto;
    z-index: 5;
    background-color: rgba(212, 229, 247, 1);
}

.cvContent{
    background-color: rgb(255, 255, 255);
}

.main{
    padding: 25px 25px 0px 30px;
}

.cvNameInput{
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-sizing : border-box;
    width: 80%;
    height: 35px;
    font-size: 18px;
    padding: 0px 5px 0px 10px;
    margin: 0px 0px 5px 0px;
}
 
textarea{
    font-family: inherit;
    color: inherit;
    width: 500px;
    height: 75px;
}

button{
    font-family: inherit;
    color: inherit; 
}

.capital{
    text-transform: capitalize;
}

.profileImg{
    display: flex;
    align-content: flex-end;
}

.profileImg img{
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.info{
    text-align: left;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{
    /* outline:none; */
    /* border: none; */
}

.name input{
    font-size: 32px; 
    font-weight: bold;
}

.yearInput{
    max-width: 2.5em;
}

.monthInput{
    max-width: 1.5em;
}

th{
    font-size: 18px;
}

td{
    vertical-align: top;
}

.expTable{
    table-layout: fixed;
    width: 100%;
}


.infoText {
    padding-left: 10px;
    white-space: pre-line;
}

.duration{
    width: 20%;
    text-align: left;
}

.headline{
    font-weight: bold;
    font-size: 18px;
}

.title{
    font-weight: bold;
    /* padding-left: 40px; */
}