
.cvContent{
    overflow: auto;
    background-color: rgb(255, 255, 255);
    height: 95%;
    box-shadow: inset -3px 3px 3px -3px rgba(0,0,0,1),  inset 3px 0px 3px -3px rgba(0,0,0,1);
}

.cvPadding{
    padding: 25px 25px 0px 30px;
}

textarea{
    font-family: inherit;
    color: inherit;
    width: 500px;
    height: 75px;
}

button{
    font-family: inherit;
    color: inherit; 
}

.profileImg{ display: flex; }

.profileImg img{
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-left: auto;
}

.info{
    text-align: left;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.name input{
    font-size: 32px; 
    font-weight: bold;
}

.yearInput{max-width: 2.5em;}

.monthInput{max-width: 1.5em;}

th{font-size: 18px;}

td{vertical-align: top;}

.expTable{
    table-layout: fixed;
    width: 100%;
}


.infoText {
    padding-left: 10px;
    white-space: pre-line;
}

.duration{
    width: 20%;
    text-align: left;
}

.headline{
    font-weight: bold;
    font-size: 18px;
}

.title{font-weight: bold;}