<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dynamisk CV</title>
    <link rel="stylesheet" href="css/cvStyle.css">
    <link rel="stylesheet" href="css/topbarStyle.css">
    <link rel="stylesheet" href="css/navMenu.css">
    <link rel="stylesheet" href="css/loginStyle.css">
    <link rel="stylesheet" href="css/optionsMenu.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- google sign-in -->
    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body>
    <div id="app" class="mainApp"><table>
        <tr><!-- Left Side --><td class="side">

            <!-- Top Bar -->
            <div class="topbar"><h1>    Funkweb CV Portal</h1></div>

            <!-- Nav Menu --><div class="navMenu">
                <button :class="{selected: page==='home', unselected: page!=='home'}" @mousedown="page = 'home'">Home</button>
                <button :class="{selected: page==='cv', unselected: page!=='cv'}" @mousedown="page = 'cv'">My CV</button>
                <button :class="{selected: page==='guide', unselected: page!=='guide'}" @mousedown="page = 'guide'">Guide</button>
                <button :class="{selected: page==='tips', unselected: page!=='tips'}" @mousedown="page = 'tips'">CV Tips</button>

        </td><!-- Middle --><td class="middle">
            <div class="topbar">
                <!-- Options Menu --><div v-if="page=='cv'" class="options">
                <span @mousedown="download" class="unselected" style="max-width: 23%">
                    Download<img src="Icons\download.svg"></span>
                <span @mousedown="editMode = !editMode" :class="{selected: editMode, unselected: !editMode}" style="max-width: 15%">
                    Edit<img src="Icons\edit.svg"></span>
                <span v-if="loggedIn" @mousedown="save(cvName)" class="unselected">
                    Save<img src="Icons\save.svg"></span>
                <span v-if="loggedIn" @mousedown="newCV = !newCV" class="unselected">
                    New<img src="Icons\new.svg"></span>
                <span v-if="loggedIn" @mousedown="toggleCVmenu" :class="{selected: showCVmenu, unselected: !showCVmenu}">
                    Open<img src="Icons\open_2.svg"></span>
                <span class="newCV" v-if="newCV">
                        <input><button>Save</button></span></div>
            </div>
          
            <!-- CV --><div v-if="page==='cv'" class="cvContent" id="print">
                <div class="cvPadding" v-bind:style="content.font">
    
                    <!-- Name & personal info -->
                    <table style="width: 100%"><tr> 
                        <td><div class="info">
                            <h2 class="name">
                                <input v-if="editMode" v-model:value="content.name"></input> 
                                <span v-else>{{content.name}}</span>
                            </h2>
                            <table><template v-for="item in content.personInfo">
                                <tr><td>
                                    <input v-if="editMode" v-model:value="item.title"></input> 
                                    <b v-else>{{item.title}}:</b>
                                </td><td>
                                    <input v-if="editMode" v-model:value="item.text"></input> 
                                    <span  class="infoText" v-else>{{item.text}}</span>
                                </td></tr>
                            </template></table>
                        </div></td><td>
                        <div class="profileImg"><img :src="content.profileImg"></div></td>
                    </tr></table> 
    
                    <!-- Intro text -->
                    <input v-if="editMode" v-model:value="content.intro.title"></input> 
                    <b v-else class="headline">{{content.intro.title}}</b></br>
                    <textarea v-if="editMode" v-model:value="content.intro.text"></textarea> 
                    <span v-else>{{content.intro.text}}</span></h1>
                    <span></br></br></span>
    
                    <!-- Education and experience lists -->
                    <template v-for="element in content.lists">
                        <span v-if="editMode">
                            <input class="headline" v-if="editMode" v-model:value="element.title">
                            <button v-if="editMode" @click="element.list.unshift(defaultListElement)">Add</button>
                            <button v-if="editMode" @click="element.list.sort(sortListElements)">Sort list</button>
                        </span>
    
                        <table class="expTable">             
                        <thead v-if="editMode === false"><tr>
                            <th class="duration">
                                <span>{{element.title}}</span>
                            </th>
                            <th class="tableInfo"></th>
                        </tr></thead>
    
                        <tbody>
                            <template v-for="(item, index) in element.list">
                                <tr v-if="editMode"><td>
                                    From:<input type="number" class="monthInput" v-model:value="item.duration.from.month"></input>
                                    <input type="number" class="yearInput" v-model:value="item.duration.from.year"></input>
                                    To:<input type="number" class="monthInput" v-model:value="item.duration.to.month"></input>
                                    <input type="number" class="yearInput" v-model:value="item.duration.to.year"></input>
                                    <input v-model:value="item.title"></input>
                                    <button v-if="editMode" @click="list.splice(index,1)">Delete</button>
                                </td></tr>
                                <tr v-if="editMode"><textarea v-if="editMode" v-model:value="item.text"></textarea> </tr>
                                <tr v-else>
                                    <td>{{getDurationText(item.duration)}}</td>               
                                    <td><div class="title">{{item.title}}</div>{{item.text}}</td>
                                </tr>
                            </span></template>
                        </tbody>
                        </table>
                    </template></br>
    
                    <!-- Other information -->
                    <input v-if="editMode" v-model:value="content.other.title"></input> 
                    <b v-else class="headline">{{content.other.title}}</b></br>
                    <textarea v-if="editMode" v-model:value="content.other.text"></textarea> 
                    <span v-else>{{content.other.text}}</span></h1></br></br>
                </div>       
            </div>

        </td><!-- Right Side --><td  class="side">

            <!-- Login/Profile Buttons -->
            <div class="topbar right">
                <button v-if="loggedIn" class="topbutton unselected" @click="logout">Logout</button>
                <button v-if="!loggedIn" class="topbutton" :class="{selected: showLogin && register, unselected: !showLogin || !register}" 
                @click="showLogin = register ? !showLogin : true; register = showLogin">Register</button>  
                <button v-if="!loggedIn" class="topbutton" :class="{selected: showLogin && !register, unselected: !showLogin || register}" 
                @click="showLogin = register ? true : !showLogin; register = false">Login</button> 
                <span v-if="loggedIn" class="centerText">Logged in: {{user.name}}   </span>
            </div>

            <!-- Login Menu -->
            <div v-if="showLogin" class="login">
                <form @submit.prevent="login"><table>
                    <tr v-if="register">
                        <td class="loginLabel"><b>Username: </b></td>
                        <td><input placeholder="..." v-model:value="user.name"></td>
                    </tr><tr>
                        <td class="loginLabel"><b>Email: </b></td>
                        <td><input placeholder="..." v-model:value="user.email" type="email"></td>
                    </tr><tr>
                        <td class="loginLabel"><b>Password: </b></td>
                        <td><input placeholder="..." v-model.lazy:value="user.password" type="password"></td>
                    </tr><tr>
                        <td v-if="register"><button type="submit">Register</button></td>
                        <td v-else><button type="submit">Login</button></td>
                        <td><b>Automatic login: </b><input v-model:value="automaticLogin" type="checkbox"></td>
                    </tr>
                </table></form>
                <span v-if="error" class="error">Error: {{errorMsg}}</span><span v-else><br></span>
            </div>
        </td></tr>
    </table></div>

    <script src="app.js"></script>
</body>
</html>