<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dynamisk CV</title>
    <link rel="stylesheet" href="sidebarStyle.css">
    <link rel="stylesheet" href="cvStyle.css">
    <link rel="stylesheet" href="topbarStyle.css">
    <link rel="stylesheet" href="loginStyle.css">
    <link rel="stylesheet" href="leftMenu.css">
    <script src="vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- google sign-in -->
    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>

<body>

    <div id="app" class="mainApp">
        <!-- Top bar -->
        <div class="topbar">
            <h1>    Funkweb CV Portal</h1>
            <button class="topbutton" :class="{selected: page==='home', unselected: page!=='home'}" @click="page = 'home'">Home</button>
            <button class="topbutton" :class="{selected: page==='cv', unselected: page!=='cv'}" @click="page = 'cv'">My CV</button>
            <button class="topbutton" :class="{selected: page==='guide', unselected: page!=='guide'}" @click="page = 'guide'">Guide</button>
            <button class="topbutton" :class="{selected: page==='tips', unselected: page!=='tips'}" @click="page = 'tips'">CV Tips</button>

            <span class="rightSide">
                <span v-if="loggedIn">Logged in: {{user.name}}</span>
                <button v-if="loggedIn" class="topbutton unselected" @click="logout">Logout</button>
                <button v-if="!loggedIn" class="topbutton" :class="{selected: showLogin && !register, unselected: !showLogin || register}" 
                @click="showLogin = register ? true : !showLogin; register = false">Login</button> 
                <button v-if="!loggedIn" class="topbutton" :class="{selected: showLogin && register, unselected: !showLogin || !register}" 
                @click="showLogin = register ? !showLogin : true; register = showLogin">Register</button>   
            </span>

            <!-- Google sign-in -->
            <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            <script>
                function onSignIn(googleUser) {
                // Useful data for your client-side scripts:
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());
        
                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);
                }-->
        </div>    
        
        <!-- Login Menu -->
        <div v-if="showLogin" class="login">
            <!-- <form @submit.prevent="() => register ? createProfile : login"> -->
            <form @submit.prevent="login">
            <table>
                <tr v-if="register">
                    <td class="loginLabel"><b>Username: </b></td>
                    <td><input placeholder="..." v-model:value="user.name"></td>
                </tr><tr>
                    <td class="loginLabel"><b>Email: </b></td>
                    <td><input placeholder="..." v-model:value="user.email" type="email"></td>
                </tr><tr>
                    <td class="loginLabel"><b>Password: </b></td>
                    <td><input placeholder="..." v-model.lazy:value="user.password" type="password"></td>
                </tr><tr>
                    <td v-if="register"><button type="submit">Register</button></td>
                    <td v-else><button type="submit">Login</button></td>
                    <td><b>Automatic login: </b><input v-model:value="automaticLogin" type="checkbox"></td>
                </tr>
            </table>
            </form>
            <span v-if="error" class="error">Error: {{errorMsg}}</span><span v-else><br></span>
        </div>

        <!-- Edit menu -->
        <table v-if="page==='cv'" class="editMenu"><tr>
            <td class="menuLeft">
                <!-- <input class="cvNameInput" v-model:value="cvName"></br> -->
                <table class="sideButtonTable">
                    <tr @click="download"><td class="sideButtonText">Download</td><td class="menuButton"><img src="Icons\download.svg"></td></tr>
                    <tr @click="editMode = !editMode"><td class="sideButtonText">Edit</td><td class="menuButton"><img src="Icons\edit.svg"></td></tr>
                    <tr v-if="loggedIn" @click="save(cvName)"><td class="sideButtonText">Save</td><td class="menuButton"><img src="Icons\save.svg"></td></tr>
                    <tr v-if="loggedIn" @click="save(cvName)"><td class="sideButtonText">New CV</td><td class="menuButton"><img src="Icons\new.svg"></td></tr>
                    <tr v-if="loggedIn" @click="toggleCVmenu"><td class="sideButtonText">Open CV</td><td class="menuButton"><img src="Icons\open_2.svg"></td></tr>
                </table>
                <div v-if="showCVmenu && loggedIn" class="cvMenu">
                    <template v-for="(item, key) in cvList">
                        <button @click="loadData(item)">{{item}}</button>
                        <span class="delete"><button @click="deleteData(item)">X</button></span>
                    </template>
                    <span v-if="1 > cvList.length">No saved CVs</span>
                    <button v-else @click="deleteAll">Delete All</button>
                </div>
            </td><td class="menuCenter"></td>
            <td class="menuRight">
                <b>Font:</b> 
                <select v-model="content.font['font-family']" :style="content.font">
                    <option v-for="font in fonts" 
                    :style="font.style"
                    v-bind:value="font.value">{{font.name}}</option>
                </select></br>
                <b>Profile image: </b><input v-model:value="content.profileImg">
            </td>
        </tr></table>
        <!-- Left Menu -->
        <!-- <div class="left side">
            <div v-if="page==='cv'" class="editMenu">
                <input class="cvNameInput" v-model:value="cvName"></br>
                <table class="sideButtonTable">
                    <tr><td class="sideButtonText">Download</td>
                        <td @click="download" class="menuButton">
                            <img src="Icons\download.svg"></td>
                    </tr>
                    <tr><td class="sideButtonText">Edit</td><td @click="editMode = !editMode" class="menuButton"><img src="Icons\edit.svg"></td></tr>
                    <tr v-if="loggedIn"><td class="sideButtonText">Save</td><td @click="save(cvName)" class="menuButton"><img src="Icons\save.svg"></td></tr>
                    <tr v-if="loggedIn"><td class="sideButtonText">New CV</td><td @click="save(cvName)" class="menuButton"><img src="Icons\new.svg"></td></tr>
                    <tr v-if="loggedIn"><td class="sideButtonText">Open CV</td><td @click="toggleCVmenu" class="menuButton"><img src="Icons\open_2.svg"></td></tr>
                </table>
                <div v-if="showCVmenu && loggedIn" class="cvMenu">
                    <template v-for="(item, key) in cvList">
                        <button @click="loadData(item)">{{item}}</button>
                        <span class="delete"><button @click="deleteData(item)">X</button></span>
                    </template>
                    <span v-if="1 > cvList.length">No saved CVs</span>
                    <button v-else @click="deleteAll">Delete All</button>
                </div>
            </div><div v-else>

            </div>
        </div> -->

        <!-- Right menu -->
        <!-- <div class="right side">
            <div v-if="page==='cv'" class="sideContent">
                <b>Font:</b> 
                <select v-model="content.font['font-family']" :style="content.font">
                    <option v-for="font in fonts" 
                    :style="font.style"
                    v-bind:value="font.value">{{font.name}}</option>
                </select></br>
                <b>Profile image: </b><input v-model:value="content.profileImg">
            </div>      
        </div> -->

        <!-- Home page -->
        <div v-if="page==='home'" class="homepage center">
            <div>
            <ul>
                <li>Create and edit your own CV from a template</li>
                <li>Print the CV or download it as pdf</li>
                <li>Save CVs to your profile online</li>
            </ul>
            </div>
        </div>

        <!-- Guide page -->

        <!-- CV page -->
        <div v-if="page==='cv'" class="center cvContent" id="print">
            <div class="main" v-bind:style="content.font">

                <!-- Name & personal info -->
                <table style="width: 100%"><tr> 
                <td><div class="info">
                    <h2 class="name">
                        <input v-if="editMode" v-model:value="content.name"></input> 
                        <span v-else>{{content.name}}</span>
                    </h2>
                    <table><template v-for="item in content.personInfo">
                        <tr><td>
                            <input v-if="editMode" v-model:value="item.title"></input> 
                            <b v-else>{{item.title}}:</b>
                        </td><td>
                            <input v-if="editMode" v-model:value="item.text"></input> 
                            <span  class="infoText" v-else>{{item.text}}</span>
                        </td></tr>
                    </template></table>
                </div></td><td>
                <div class="profileImg"><img :src="content.profileImg"></div></td>
            </tr></table> 

                <!-- Intro text -->
                <input v-if="editMode" v-model:value="content.intro.title"></input> 
                <b v-else class="headline">{{content.intro.title}}</b></br>
                <textarea v-if="editMode" v-model:value="content.intro.text"></textarea> 
                <span v-else>{{content.intro.text}}</span></h1>
                <span></br></br></span>

                <!-- Education and experience lists -->
                <template v-for="element in content.lists">
                    <span v-if="editMode">
                        <input class="headline" v-if="editMode" v-model:value="element.title">
                        <button v-if="editMode" @click="element.list.unshift(defaultListElement)">Add</button>
                        <button v-if="editMode" @click="element.list.sort(sortListElements)">Sort list</button>
                    </span>

                    <table class="expTable">             
                    <thead v-if="editMode === false"><tr>
                        <th class="duration">
                            <span>{{element.title}}</span>
                        </th>
                        <th class="tableInfo"></th>
                    </tr></thead>

                    <tbody>
                        <template v-for="(item, index) in element.list">
                            <tr v-if="editMode"><td>
                                From:<input type="number" class="monthInput" v-model:value="item.duration.from.month"></input>
                                <input type="number" class="yearInput" v-model:value="item.duration.from.year"></input>
                                To:<input type="number" class="monthInput" v-model:value="item.duration.to.month"></input>
                                <input type="number" class="yearInput" v-model:value="item.duration.to.year"></input>
                                <input v-model:value="item.title"></input>
                                <button v-if="editMode" @click="list.splice(index,1)">Delete</button>
                            </td></tr>
                            <tr v-if="editMode"><textarea v-if="editMode" v-model:value="item.text"></textarea> </tr>
                            <tr v-else>
                                <td>{{getDurationText(item.duration)}}</td>               
                                <td><div class="title">{{item.title}}</div>{{item.text}}</td>
                            </tr>
                        </span></template>
                    </tbody>
                    </table>
                </template></br>

                <!-- Other information -->
                <input v-if="editMode" v-model:value="content.other.title"></input> 
                <b v-else class="headline">{{content.other.title}}</b></br>
                <textarea v-if="editMode" v-model:value="content.other.text"></textarea> 
                <span v-else>{{content.other.text}}</span></h1></br></br>
            </div>
        </div>

    </div>

    <script src="app.js"></script>
</body>
</html>