.topbar {
    height: 5%;
    display: flex;
    /* justify-content: center; */
    box-shadow: inset 0px -3px 2px -2px rgba(0,0,0,1);
}

.topbar .side{
    width: 27%;
    padding: 0px;
}

.side .right{
    margin-top: auto;
    margin-bottom: auto;
    flex-flow: row-reverse;
    padding-right: 5%;
}

.middle .topbar{
    display: flex;
    justify-content: center;
    align-content: center;
}

.topbar h1{
    font-size: calc(100% + 0.9vw);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    white-space: pre;
}

.rightSide{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2.5%;
    height: 100%;
}

.topbar button{
    font-size: 20px;
    /* font-weight: bold; */
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.topbar button.selected{
    box-shadow: inset 3px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.topbar button.unselected:hover {
}

.topbar button.unselected{
    /* box-shadow: inset 2px 0px 2px 0px rgb(255, 255, 255, 0.4), inset -2px 0px 2px 0px rgb(0, 0, 0, 0.75); */
}

.topbar button.selected:hover {
    /* box-shadow: inset 5px 0px 4px 0px rgba(0, 0, 0, 0.75); */
}

.topbar button.selected:active {
    box-shadow: inset 5px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.topbar button.unselected:active {
    box-shadow: inset 5px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.topbar button:focus {
    outline:none !important;
}