.topbar {
    /* min-width: 100vh; */
    position: fixed;
    width: 100%;
    background-color: rgba(212, 229, 247, 1);
    height: 5vh;
    z-index: 6;
    -webkit-box-shadow: inset 0px -2px 2px -1px rgb(0, 0, 0), 0px 2px 2px -2px rgb(0, 0, 0);
    -moz-box-shadow: inset 0px -2px 2px -1px rgb(0, 0, 0), 0px 2px 2px -2px rgb(0, 0, 0);
    box-shadow: inset 0px -2px 2px -1px rgb(0, 0, 0), 0px 2px 2px -2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.topbar h1{
    font-size: 18px;
    font-size: calc(100% + 0.9vw);
    color: rgb(13, 27, 41);
    text-align: left;
    width: 27%;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.50);
    white-space: pre;
}

.rightSide{
    margin-left: auto;
    margin-right: 2.5%;
    height: 100%;
}

.topbutton{
    font-size: 20px;
    height: 100%;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.topbutton.unselected{
    background-color: rgba(212, 229, 247, 0);
}

.topbutton.selected{
    background-color: rgba(54, 86, 122, 0.356);
}

.topbutton.unselected:hover {
    background-color: rgba(255, 255, 255, 0.397);
    /* color: rgb(61, 61, 61); */

}

.unselected:active {
    /* background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255); */
}

.topbar button:focus {
    outline:none !important;
}